# IDEs
.idea
.fleet
.code

# DIRs
logs
db

# Files
.prod
config-prod.ini
config-prod.d
helpers/ipset_status_done
helpers/packages_status_done

# DB
db.sql

# Tests
tests
test
temp
tmp

# Venv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
# Additional info reference:
# https://github.com/github/gitignore/blob/main/Python.gitignore
__pycache__/
*.py[cod]
*$py.class

